* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F4F4;
  }
  
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 16px;
    width: 320px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .form h1 {
    text-align: center;
    color: #1A1A1A;
    margin-bottom: 25px;
  }
  
  .form label {
    display: block;
    margin-bottom: 16px;
    font-size: 14px;
    color: #1A1A1A;
  }
  
  .form input {
    width: 90%;
    padding: 10px 14px;
    margin-top: 6px;
    border: none;
    border-radius: 10px;
    background-color: #E8EAF6;
    font-size: 14px;
    color: #FF4081;
    display: block;
  }
  
  .form input::placeholder {
    color: #FF4081;
  }
  
  .form button {
    width: 100%;
    padding: 12px;
    background-color: #3C52D5;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form button:hover {
    background-color: #2f44b3;
  }
  
  .login-text {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
  }
  
  .login-text a {
    color: #3C52D5;
    text-decoration: none;
  }
  